{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- HEADER -->
<header id="topbar">
  <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                </div>  
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <ul class="social-links">
                    {% if facebook_url|render is not empty %}
                      <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}  
                    {% if twitter_url|render is not empty %}  
                      <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}  
                    {% if google_plus_url|render is not empty %}
                      <li><a href="{{ google_plus_url }}"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %}    
                  </ul>                       
                    <ul class="user-links">
                        <li class="username"><a href="{{ basepath }}/user"><i class="fa fa-user"></i> {{ user_name }}</a></li>
                        <li class="login"><a href="{{ basepath }}/user/login"><i class="fa fa-sign-in"></i> Login</a></li>
                    </ul>                
                </div>        
            </div>
        </div>
    </div>  
  <div class="container">
   <div class="row">
    <div id="header-main">      
        <div class="col-md-5 col-sm-5 col-xs-12 header-main-left wow fadeInUp" data-wow-delay="0.2s">
          <a href="{{ path('<front>') }}" class="logo">
            <img src="{{ logopath }}" alt="{{ site_name }}" title="{{ 'Home'|t }}" class="img-responsive">
          </a>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12 header-main-right wow fadeInUp" data-wow-delay="0.4s">
          <div class="col-md-6 col-sm-6 col-xs-6 mail-us">
            <i class="fa fa-envelope"></i>
            <ul>
            <li>Mail Us</li>
              <li><strong>
                {% if email|render is not empty %}<a href="mailto:{{ email }}">{{ email }}</a>{% endif %}
              </strong></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 call-us">
            <i class="fa fa-phone"></i>
            <ul>
            <li>Call Us</li>
              <li><strong>{% if phone|render is not empty %}{{ phone }}{% endif %}</strong></li>
            </ul>
          </div>          
        </div>
     </div>
   </div> 
  </div>
</header>
<!-- HEADER END -->
<!-- MENU -->
<section class="main_menu">  
 <nav id="menu" class="navbar navbar-inverse">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#logistics-navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>   
        {{ page.primary_menu }}
    </div>
  </nav>
</section>
<!-- MENU END -->
<!-- Banner Section -->
{% if page.banner|render|striptags %}
  {{ page.banner }}
  {% else %}
  <section id="banner_section" style="background-image: url('{{bg_image_url}}'); background-repeat: no-repeat;background-size: cover;background-attachment: fixed;padding: 115px 0 130px;">
    <div class="container">
      <div class="row">    
      <div class="col-md-5">
       <p class="wow fadeInLeft" data-wow-delay="0.3s">{{ site_name }}</p>  
        <h1 class="wow fadeInLeft" data-wow-delay="0.6s">{{ page['#title'] }}</h1>
      </div> 
      </div> 
    </div>
  </section>
{% endif %}
<!-- Banner-Section-End-->
<!-- 403 Page -->
<div id="page-not-found">
  <div class="container">  
    <div class="row"> 
      <div class="col-xs-12 col-md-12 text-center">
        <div class="section-title wow fadeInUp" data-wow-delay="0.3s">
          <h1>403</h1>
          <h2>Access Denied</h2>
        </div>        
        <div class="page-not-found-text">
          <h3 class="title wow fadeInUp" data-wow-delay="0.3s">Sorry, we can't find that page</h3>
          <p class="wow fadeInUp" data-wow-delay="0.6s">Sorry! The page you are trying to reach does not exist, or has been moved.</p>
          <a href="{{ front_page }}" class="enquiry-btn custom-btn wow fadeInLeft" data-wow-delay="0.9s">Go Home</a>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- 403 Page End -->
<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
      {{ page.footer_logo }}
    </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>{{ contact_title }}</h3>
          <ul class="contact">
          <li class="location"><span>Nullam ut dolor vulputate,<br />Ttincidunt lectus vel,<br />USA</span></li>
          <li class="phone"><span>{% if phone|render is not empty %}{{ phone }}{% endif %}</span></li>
          <li class="mail">
            {% if email|render is not empty %}<a href="mailto:{{ email }}">{{ email }}</a>{% endif %}
          </li>
         </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        <h3>Our Services</h3>
        <ul>
          <li><a href="#">Lorem Ipsum 1</a></li>
          <li><a href="#">Lorem Ipsum 2</a></li>
          <li><a href="#">Lorem Ipsum 3</a></li>
          <li><a href="#">Lorem Ipsum 4</a></li>            
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <h3>{{ social_title }}</h3>
        <ul class="social">
          {% if facebook_url|render is not empty %}
            <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
          {% endif %}  
          {% if youtube_url|render is not empty %}
            <li><a href="{{ youtube_url }}"><i class="fa fa-youtube-play"></i></a></li>
          {% endif %}
          {% if twitter_url|render is not empty %}  
            <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
          {% endif %}  
        </ul>
      </div>
    </div>
  </div>
</footer>  
<div class="copyright text-center">
  {% if copyright %}
    {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
  {% endif %}  
</div>
</section>  
<!-- FOOTER END -->