#location .map {
    display: block !important;
}
.carousel-caption h1 {
    width: 87%;
}
a.nav-link.menu-item--expanded.dropdown.item:after {
    font-family: FontAwesome;
    font-weight: 900;
    content: "\f0d7";
    margin-left: 5px;
    margin-top: 2px;
}
#contact .blog_content {
    margin: 40px 0;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    min-height: 313px;
    display: block !important; 
}
#contact .field--name-field-mobile-number .field__item {
    line-height: 20px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding-left: 50px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
#contact .locations-list {
    padding: 50px;
    display: flow-root;
}
.comments-img img {
    width: 151px;
    height: 170px;
}
ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
    float: right;
    margin: 0 !important;
}
.comments-cont ul strong a{
	color: #000;
}
.comments-cont .field.field--name-field-email-id.field--type-email.field--label-hidden.field__item {
    display: none;
}
.details-page .service-details-image img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}
.contact_form .form-horizontal .form-group {
    display: inline-flex !important;
}
form#webform-submission-enquiry-paragraph-4-add-form select#edit-request-select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form#webform-submission-enquiry-paragraph-4-add-form .form-group {
    margin-bottom: 10px;
}
.enquiry-bg{
	background: #da0f0f;
    padding: 30px 40px;
    border-radius: 10px
}
form#webform-submission-enquiry-paragraph-4-add-form .form-control {
    padding: 6px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 3px!important;
    color: #fff !important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fef4f4!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fef4f4!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fef4f4!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fef4f4!important;
}

form#webform-submission-enquiry-paragraph-4-add-form select#edit-request {
    background:  #da0f0f !important ;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding-left: 0px;
}
.latest_news_ls_content h3 a {
    font-size: 24px;
}
.testimonial_desc p:first-child:before {
    content: "\0022";
    font-size: 21px;
    font-weight: 700;
    padding: 0 5px 0 0;
}
/*form#comment-form div#edit-comment-body-wrapper {
    display: inline-block;
    width: 49.5%;
}*/
form#comment-form input#edit-subject-0-value, form#comment-form input#edit-field-email-id-0-value {
	display: block;
    padding: 6px 12px;
    font-size: 14px; 
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form#comment-form input#edit-submit, form#comment-form input#edit-preview {
    color: #fff;
    background-color: #da0f0f;
    border-color: #da0f0f;
    padding: 6px 16px 8px;
    border-radius: 4px;
}
#back_to_top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
}
#back_to_top {
    display: inline-block;
    background-color: #da0f0f;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s , opacity .5s , visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back_to_top:hover {
    cursor: pointer;
    background-color: #da0f0f;
    text-decoration: none;
}
#back_to_top.show {
    opacity: 1;
    visibility: visible;
}

#contact .form-horizontal input {
    border-radius: 2px;
    height: 35px;
}
#contact .custom-btn1 {
    margin-left: 14%;
    margin-top: -5%;
}
#contact form#webform-submission-contact-paragraph-52-add-form .form-group {
    margin-bottom: 0px;
}
.location p {
    margin: 0px 0px 2px;
}
#contact .enquiry-btn.custom-btn {
    font-family: 'Open Sans', sans-serif;
}
#latest_news h3.title.header_title.wow.fadeInUp {
    padding-left: 15px;
}
#faq .field__item {
    padding: 5px 0px;
}
#location .field__item .location p {
    margin: 0 0 10px !important;
}
/* User login form css*/
.user-login-form {
    max-width: 48%;
    margin: auto;
    padding: 20px 30px 40px 24px;
    border: 2px solid #f5f5f5;
    margin-bottom: 70px;
    margin-top: 160px;
    overflow: hidden;
}
.user-login-form input{
    padding: 10px;
    border-radius: 5px;
}
.user-login-form  div#edit-actions {
    text-align: center;
}
.user-login-form input#edit-submit {
    padding: 5px 20px 5px 20px;
    background: #da0f0f;
    border: 1px solid #da0f0f;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}    
.user-login-form input#edit-submit:hover{
	color: #000;
	background: #fff;
 	border: 1px solid #000;
}

.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #da0f0f;
}
.login-button input {
  padding: 5px 20px 5px 20px;
  background: #da0f0f;
  border: 1px solid #da0f0f;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
  padding: 5px 20px 5px 20px;
  background: #e43d39;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 610px) {

.user-login-form {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

.user-login-form {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
/* End  User login form css*/
@media(min-width:320px) and (max-width:970px) {
	.fl_left.wow.fadeInUp {
    	background: #da0f0f;
    	padding: 30px 40px;
    	border-radius: 10px;
	}
	form#webform-submission-enquiry-paragraph-4-add-form .form-group {
    	margin-bottom: 0;
    	padding-left: 0px;
    	padding-right: 0px;
	}
	.enquiry-bg {
    	background: transparent;
    	padding: 25px 10px;
	}
	form#webform-submission-enquiry-paragraph-4-add-form .enquiry_form_btn {
    	padding-right: 0px;
    	padding-left: 0px;
	}
}
